$breakpoint-large: 768px;

html, body { max-width: 100%; overflow-x: hidden; }

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 101vh;
  padding: 0;

  background: no-repeat center;
  background-image:
    url("../img/bg_mobile.png"),
    linear-gradient(to bottom, #463433, #715e41, #050503);
  background-size: cover;

  @media screen and (min-width: $breakpoint-large) {
    background-image: 
      url('../img/bg_desktop.png'),
      linear-gradient(to bottom, #463433, #715e41, #050503);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 101vh;

  font-family: "Inter", sans-serif;
  color: #232323;
  font-weight: 500;
  font-size: 1rem;

  @media screen and (min-width: $breakpoint-large) {
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  position: absolute;
  top: 40px;
  left: 3vw;
}

.close-btn-container {
  position: absolute;
  top: 20px;
  right: 24px;

  display: flex;
  align-items: center;
  padding: 0;

  background: none;
  border: none;

  @media screen and (min-width: $breakpoint-large) {
    right: 6.66vw;
    top: 68px;
  }
}

.close-btn-label {
  margin-bottom: -2px;
  margin-left: 10px;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form {
  flex-grow: 1;
  padding: 20px 7.5vw 60px; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  
  @media screen and (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(5, auto);
    align-content: center;
    justify-items: center;
    gap: 40px 0;
    width: 500px;
    padding: 0;
  }
  
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width: $breakpoint-large) {
      grid-column: 1;
      grid-row: 1 / 4;
      transform: rotate(-90deg);

      font-weight: 500;
      font-size: 3rem;
    }
  }

  &__text-input {
    width: 100%;
    padding-bottom: 4px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    color: #FFFFFF;

    &_error {
      border-color: #C73131;
    }

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0em;
      color: rgba(255, 255, 255, 0.6);
    }

    &_email {
      @media screen and (min-width: $breakpoint-large) {
        grid-column: 2 / -1;
        grid-row: 1;
      }
    }
  }

  &__pw-container {
    position: relative;
    width: 100%;

    @media screen and (min-width: $breakpoint-large) {
      grid-column: 2 / -1;
      grid-row: 2;
    }

    &_error {
      &::after {
        content: "Incorrect password";
        position: absolute;
        display: inline-block;
        bottom: -22px;
        left: 0;

        font-size: 0.75rem;
        line-height: 1.66;
        font-weight: 400;
        color: #C73131;
      }
    }
    
  }

  &__show-pw-btn {
    position: absolute;
    right: 0;
    bottom: 1px;
    
    width: 24px;
    height: 24px;

    background: transparent url('../img/show_pw_btn.svg') no-repeat center;
    border: none;
  }

  &__text-btn {
    background: none;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    text-decoration-line: underline;

    &_reset {
      margin-bottom: -20px;

      @media screen and (min-width: $breakpoint-large) {
        grid-column: 2;
        grid-row: 3;
        margin-bottom: 0;
        padding-left: 0;
      }
    }

    &_create {
      @media screen and (min-width: $breakpoint-large) {
        grid-column: 3;
        grid-row: 3;
        padding-right: 0;
      }
    }
  }

  &__submit-btn {
    width: 200px;
    padding-top: 14px;
    padding-bottom: 10px;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;
    text-transform: uppercase;

    @media screen and (min-width: $breakpoint-large) {
      grid-column: 2 / -1;
      grid-row: 4;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0em;
      color: #FFFFFF;

      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        margin-bottom: -2px;
  
        border: 2px solid #ffffff;
        border-radius: 2px;
      }
    }
  }

  &__checkbox:checked {
    &+label {
      &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        display: inline-block;
        width: 10px;
        height: 6px;

        border: 2px solid #ffffff;
        border-top: none;
        border-right: none;

        transform: rotate(-45deg);
      }
    }
  }


  &__remember-user-container {
    @media screen and (min-width: $breakpoint-large) {
      grid-column: 2 / -1;
      grid-row: 5;
    }
  }
}

.social-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 13px 24.375vw 11px;
  
  background: #F2F2F2;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}